<!-- <p>
  dishdetail works!
</p> -->

<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <!-- <p>Display the details of the Dish here</p> -->
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40">
    <!-- <p>Display the list of comments here</p> -->
    <h2>Comments</h2>
    <mat-list *ngIf="dish">
      <!-- <h4 matLine>{{ dish.comments[1].comment }}</h4> -->
      <mat-list-item *ngFor="let d of dish.comments">
         <h4 matLine>{{ d.comment }}</h4>
         <h4 matLine>{{ d.rating }}</h4>
         <h4 matLine>-- {{ d.author }} {{ d.date | date }}</h4>
      </mat-list-item>
      <!-- <mat-divider></mat-divider> -->
      
      
   </mat-list>
  </div>

</div>
